body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.countdown-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 -8px 0 -8px;
}
.time-section {
  padding: 0px 8px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #254864 !important;
}
.countdown-value {
  margin: 0;
  font-size: 60px !important;
  font-weight: 800 !important;
}